@charset "UTF-8";
/* line 3, ../scss/style.scss */
body {
  font-family: "Titillium Web", sans-serif;
  font-weight: 400;
  font-size: 18px;
  color: #ffffff;
}

/* line 10, ../scss/style.scss */
h1 {
  font-size: 40px;
  font-weight: 700;
}

/* line 18, ../scss/style.scss */
h3 {
  font-size: 24px;
  font-weight: 700;
}

/* line 24, ../scss/style.scss */
h4 {
  font-size: 18px;
}

/* line 28, ../scss/style.scss */
p {
  font-size: 16px;
  font-weight: 300;
}

/* line 34, ../scss/style.scss */
hr {
  width: 90px;
}

/***** Global ****/
/* line 40, ../scss/style.scss */
.title {
  text-align: center;
  margin-bottom: 86px;
}

/**** Header Section ****/
/* line 47, ../scss/style.scss */
header {
  background-color: #87509c;
}
/* line 50, ../scss/style.scss */
header .navbar-default {
  margin-top: -50px;
  margin-bottom: 40px;
  padding-top: 60px;
  border: none;
  background-color: #87509c;
  min-height: 100px;
}
/* line 58, ../scss/style.scss */
header .navbar-default .navbar-nav {
  color: #ffffff;
}
/* line 60, ../scss/style.scss */
header .navbar-default .navbar-nav li {
  padding-top: 20px;
}
/* line 62, ../scss/style.scss */
header .navbar-default .navbar-nav li a {
  font-size: 16px;
  color: #ffffff;
}
/* line 68, ../scss/style.scss */
header .navbar-default .navbar-nav li.active a {
  background-color: #643a79;
  padding: 10px 20px;
  margin-top: 5px;
  border-radius: 3px;
  color: #ffffff;
}
/* line 79, ../scss/style.scss */
header .header-text {
  text-align: center;
  min-height: 500px;
  display: -webkit-box;
  display: -moz-box;
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;
  -webkit-box-pack: center;
  -moz-box-pack: center;
  -ms-flex-pack: center;
  -webkit-justify-content: center;
  justify-content: center;
  -webkit-box-align: center;
  -moz-box-align: center;
  /* OLD… */
  -ms-flex-align: center;
  /* You know the drill now… */
  -webkit-align-items: center;
  align-items: center;
}
/* line 86, ../scss/style.scss */
header .header-text h1 {
  margin-bottom: 70px;
}
/* line 90, ../scss/style.scss */
header .header-text a {
  color: #ffffff;
  font-color: 18px;
  padding: 15px 90px;
  border-radius: 6px;
  background-color: #eb7d4b;
  text-align: center;
  text-decoration: none;
  text-transform: uppercase;
}

/**** Service Section ****/
/* line 106, ../scss/style.scss */
#service {
  background-color: #17c2a4;
  min-height: 750px;
  display: -webkit-box;
  display: -moz-box;
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;
  -webkit-box-pack: center;
  -moz-box-pack: center;
  -ms-flex-pack: center;
  -webkit-justify-content: center;
  justify-content: center;
  -webkit-box-align: center;
  -moz-box-align: center;
  /* OLD… */
  -ms-flex-align: center;
  /* You know the drill now… */
  -webkit-align-items: center;
  align-items: center;
}
/* line 114, ../scss/style.scss */
#service .service-wrap {
  text-align: center;
  padding: 0 30px;
}
/* line 117, ../scss/style.scss */
#service .service-wrap h3 {
  margin-bottom: 25px;
  text-transform: uppercase;
}
/* line 122, ../scss/style.scss */
#service .service-wrap .img-wrap {
  height: 125px;
  margin-bottom: 65px;
}

/**** Skills ****/
/* line 135, ../scss/style.scss */
#skills {
  color: #3c4761;
  min-height: 750px;
  display: -webkit-box;
  display: -moz-box;
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;
  -webkit-box-pack: center;
  -moz-box-pack: center;
  -ms-flex-pack: center;
  -webkit-justify-content: center;
  justify-content: center;
  -webkit-box-align: center;
  -moz-box-align: center;
  /* OLD… */
  -ms-flex-align: center;
  /* You know the drill now… */
  -webkit-align-items: center;
  align-items: center;
}
/* line 143, ../scss/style.scss */
#skills .service-wrap {
  text-align: center;
  padding: 0 30px;
}
/* line 146, ../scss/style.scss */
#skills .service-wrap h3 {
  margin-bottom: 25px;
  text-transform: uppercase;
}
/* line 151, ../scss/style.scss */
#skills .service-wrap .img-wrap {
  height: 125px;
  margin-bottom: 65px;
}

/**** People Say ****/
/* line 163, ../scss/style.scss */
#people-say {
  background-color: #d74680;
  min-height: 900px;
  display: -webkit-box;
  display: -moz-box;
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;
  -webkit-box-pack: center;
  -moz-box-pack: center;
  -ms-flex-pack: center;
  -webkit-justify-content: center;
  justify-content: center;
  -webkit-box-align: center;
  -moz-box-align: center;
  /* OLD… */
  -ms-flex-align: center;
  /* You know the drill now… */
  -webkit-align-items: center;
  align-items: center;
}
/* line 171, ../scss/style.scss */
#people-say .people-wrap {
  margin-bottom: 150px;
}
/* line 175, ../scss/style.scss */
#people-say .people-wrap .people-text {
  padding-left: 15px;
  text-align: left;
  width: 70%;
  float: left;
}
/* line 181, ../scss/style.scss */
#people-say .people-wrap .people-text p {
  font-weight: 400;
  font-style: italic;
}
/* line 185, ../scss/style.scss */
#people-say .people-wrap .people-text h3 {
  text-transform: uppercase;
}
/* line 189, ../scss/style.scss */
#people-say .people-wrap .people-text h4 {
  color: #ffdd99;
}
/* line 194, ../scss/style.scss */
#people-say .people-wrap .people-text:nth-child(1),
#people-say .people-wrap .people-text:nth-child(2) {
  margin-bottom: 50px;
}
/* line 199, ../scss/style.scss */
#people-say .people-wrap .people-pic {
  background-color: green;
  height: 75px;
  width: 75px;
  border-radius: 50px;
  margin-bottom: 65px;
  float: left;
}
/* line 209, ../scss/style.scss */
#people-say .people-wrap .people-pic img {
  width: 100%;
  height: 100%;
}

/**** Team Say ****/
/* line 218, ../scss/style.scss */
#team {
  color: #3c4761;
  background-color: #e7f1f8;
  min-height: 930px;
  display: -webkit-box;
  display: -moz-box;
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;
  -webkit-box-pack: center;
  -moz-box-pack: center;
  -ms-flex-pack: center;
  -webkit-justify-content: center;
  justify-content: center;
  -webkit-box-align: center;
  -moz-box-align: center;
  /* OLD… */
  -ms-flex-align: center;
  /* You know the drill now… */
  -webkit-align-items: center;
  align-items: center;
}
/* line 228, ../scss/style.scss */
#team .team-wrap {
  margin-bottom: 50px;
}
/* line 232, ../scss/style.scss */
#team .team-wrap .team-text {
  text-align: center;
  padding: 0 25px;
}
/* line 236, ../scss/style.scss */
#team .team-wrap .team-text #place {
  color: #30bae7;
}
/* line 239, ../scss/style.scss */
#team .team-wrap .team-text h3 {
  text-transform: uppercase;
}
/* line 243, ../scss/style.scss */
#team .team-wrap .team-text span {
  margin-top: 40px;
  color: #bdd1df;
  padding-right: 10px;
}
/* line 254, ../scss/style.scss */
#team .team-wrap .team-pic {
  background-color: green;
  height: 200px;
  width: 200px;
  border-radius: 100px;
  margin: 0 auto;
  margin-bottom: 40px;
}
/* line 263, ../scss/style.scss */
#team .team-wrap .team-pic img {
  width: 100%;
  height: 100%;
}

/**** Portfolio Section ****/
/* line 272, ../scss/style.scss */
#portfolio {
  color: #3c4761;
  background-color: #ffdd99;
  min-height: 1428px;
  display: -webkit-box;
  display: -moz-box;
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;
  -webkit-box-pack: center;
  -moz-box-pack: center;
  -ms-flex-pack: center;
  -webkit-justify-content: center;
  justify-content: center;
  -webkit-box-align: center;
  -moz-box-align: center;
  /* OLD… */
  -ms-flex-align: center;
  /* You know the drill now… */
  -webkit-align-items: center;
  align-items: center;
}
/* line 282, ../scss/style.scss */
#portfolio .select {
  margin-bottom: 50px;
}
/* line 285, ../scss/style.scss */
#portfolio .select ul {
  list-style: none;
  width: 90%;
  margin: 0 auto 70px auto;
}
/* line 290, ../scss/style.scss */
#portfolio .select ul li {
  display: inline;
  padding: 0 10px;
}
/* line 293, ../scss/style.scss */
#portfolio .select ul li a {
  background-color: #ebc985;
  padding: 14px 30px;
  border-radius: 6px;
  font-size: 18px;
  text-transform: uppercase;
  text-decoration: none;
  color: #3c4761;
}
/* line 302, ../scss/style.scss */
#portfolio .select ul li a:hover {
  background-color: #ffffff;
}
/* line 311, ../scss/style.scss */
#portfolio .portfolio-wrap {
  margin-bottom: 75px;
}
/* line 314, ../scss/style.scss */
#portfolio .portfolio-wrap .portfolio-text {
  text-align: center;
  margin-top: 40px;
  text-transform: uppercase;
}
/* line 323, ../scss/style.scss */
#portfolio .portfolio-wrap .portfolio-pic img {
  width: 100%;
}

/**** Get In Touch Section ****/
/* line 333, ../scss/style.scss */
#get-in-touch {
  color: #ffffff;
  background-color: #3c5499;
  min-height: 900px;
  display: -webkit-box;
  display: -moz-box;
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;
  -webkit-box-pack: center;
  -moz-box-pack: center;
  -ms-flex-pack: center;
  -webkit-justify-content: center;
  justify-content: center;
  -webkit-box-align: center;
  -moz-box-align: center;
  /* OLD… */
  -ms-flex-align: center;
  /* You know the drill now… */
  -webkit-align-items: center;
  align-items: center;
}
/* line 343, ../scss/style.scss */
#get-in-touch .input-group {
  width: 100%;
}
/* line 348, ../scss/style.scss */
#get-in-touch input,
#get-in-touch textarea {
  background-color: #273a71;
  border: none;
}
/* line 354, ../scss/style.scss */
#get-in-touch textarea {
  height: 150px;
  color: #ffffff;
}
/* line 359, ../scss/style.scss */
#get-in-touch .cta {
  text-align: center;
  margin-top: 70px;
}
/* line 362, ../scss/style.scss */
#get-in-touch .cta a {
  color: #ffffff;
  background-color: #30bae7;
  padding: 25px 80px;
}
/* line 370, ../scss/style.scss */
#get-in-touch #name,
#get-in-touch #email {
  width: 100%;
  float: clear;
  margin-bottom: 20px;
  height: 75px;
  font-size: 20px;
}

/**** Social Media ****/
/* line 388, ../scss/style.scss */
#social-media {
  background-color: #344b8e;
}
/* line 391, ../scss/style.scss */
#social-media .get-wrapper {
  min-height: 110px;
  display: -webkit-box;
  display: -moz-box;
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;
  -webkit-box-pack: space-around;
  -moz-box-pack: space-around;
  -ms-flex-pack: space-around;
  -webkit-justify-content: space-around;
  justify-content: space-around;
  -webkit-box-align: center;
  -moz-box-align: center;
  /* OLD… */
  -ms-flex-align: center;
  /* You know the drill now… */
  -webkit-align-items: center;
  align-items: center;
  flex-flow: row wrap;
}
/* line 398, ../scss/style.scss */
#social-media .get-wrapper a {
  color: white;
  font-weight: 600;
  text-decoration: none;
}
/* line 403, ../scss/style.scss */
#social-media .get-wrapper a:hover {
  color: #30bae7;
}

/* Extra small devices (phones, less than 768px) */
/* No media query since this is the default in Bootstrap */
/* Small devices (tablets, 768px and up) */
@media (min-width: 768px) {
  /* line 9, ../scss/_mobile.scss */
  header .navbar-default {
    margin-top: -30px;
    margin-bottom: 0px;
  }
  /* line 13, ../scss/_mobile.scss */
  header .navbar-default ul {
    margin-top: -10px;
  }
  /* line 18, ../scss/_mobile.scss */
  header .header-text {
    min-height: 400px;
  }

  /* line 23, ../scss/_mobile.scss */
  #service {
    padding-top: 50px;
  }
  /* line 25, ../scss/_mobile.scss */
  #service .service-wrap {
    margin-bottom: 50px;
  }

  /* line 32, ../scss/_mobile.scss */
  #team .team-wrap {
    margin-bottom: 50px;
  }

  /* line 37, ../scss/_mobile.scss */
  #skills {
    margin-top: 50px;
  }
  /* line 39, ../scss/_mobile.scss */
  #skills .service-wrap {
    margin-bottom: 70px;
  }

  /* line 45, ../scss/_mobile.scss */
  #portfolio {
    min-height: 1100px;
  }
  /* line 48, ../scss/_mobile.scss */
  #portfolio #select-br {
    display: none;
  }

  /* line 55, ../scss/_mobile.scss */
  #people-say .people-wrap {
    text-align: center;
    margin-bottom: 0;
    padding-bottom: 0;
  }
  /* line 60, ../scss/_mobile.scss */
  #people-say .people-wrap .people-pic {
    float: left;
    width: 100px;
    height: 100px;
    width: 100px;
    margin-right: 30px;
    margin-bottom: 100px;
  }
  /* line 70, ../scss/_mobile.scss */
  #people-say .people-wrap .people-text {
    float: none;
    width: 100%;
  }
  /* line 74, ../scss/_mobile.scss */
  #people-say .people-wrap .people-text:nth-child(1),
  #people-say .people-wrap .people-text:nth-child(2) {
    margin-bottom: 100px;
  }

  /* line 81, ../scss/_mobile.scss */
  #get-in-touch {
    min-height: 800px;
  }
}
/* Medium devices (desktops, 992px and up) */
@media (min-width: 922px) {
  /* line 93, ../scss/_mobile.scss */
  header .navbar-default {
    margin-top: -50px;
    margin-bottom: 0px;
  }
  /* line 97, ../scss/_mobile.scss */
  header .navbar-default ul {
    margin-top: -10px;
  }
  /* line 102, ../scss/_mobile.scss */
  header .header-text {
    min-height: 400px;
  }

  /* line 110, ../scss/_mobile.scss */
  #service .service-wrap h3 {
    margin-bottom: 50px;
    text-transform: uppercase;
  }
  /* line 114, ../scss/_mobile.scss */
  #service .service-wrap #rocket {
    margin-bottom: 25px;
  }

  /* line 121, ../scss/_mobile.scss */
  #team h3 {
    margin-bottom: 50px;
  }
  /* line 124, ../scss/_mobile.scss */
  #team #ashley {
    margin-bottom: 25px;
  }
  /* line 128, ../scss/_mobile.scss */
  #team .team-text #desc {
    min-height: 160px;
  }

  /* line 134, ../scss/_mobile.scss */
  #portfolio {
    min-height: 1300px;
  }

  /* line 139, ../scss/_mobile.scss */
  #get-in-touch #email {
    width: 48%;
    float: right;
    margin-bottom: 10px;
  }
  /* line 145, ../scss/_mobile.scss */
  #get-in-touch #name {
    width: 48%;
    float: left;
  }
}
/* Large devices (large desktops, 1200px and up) */
@media (min-width: 1200px) {
  /* line 159, ../scss/_mobile.scss */
  header .navbar-default {
    margin-top: -50px;
    margin-bottom: 0px;
  }
  /* line 163, ../scss/_mobile.scss */
  header .navbar-default ul {
    margin-top: -10px;
  }
  /* line 168, ../scss/_mobile.scss */
  header .header-text {
    min-height: 400px;
  }

  /* line 175, ../scss/_mobile.scss */
  #service .service-wrap h3 {
    margin-bottom: 25px;
  }

  /* line 185, ../scss/_mobile.scss */
  #team h3 {
    margin-bottom: 25px;
  }

  /* line 196, ../scss/_mobile.scss */
  #portfolio .select ul {
    list-style: none;
    margin: 0 auto;
    width: 70%;
  }
  /* line 202, ../scss/_mobile.scss */
  #portfolio .select ul li {
    display: inline;
    padding: 0 10px;
  }
  /* line 205, ../scss/_mobile.scss */
  #portfolio .select ul li a {
    background-color: #ebc985;
    padding: 14px 30px;
    border-radius: 6px;
    font-size: 18px;
    text-transform: uppercase;
    text-decoration: none;
    color: #3c4761;
  }
  /* line 214, ../scss/_mobile.scss */
  #portfolio .select ul li a:hover {
    background-color: #ffffff;
  }
}
