@import 'variables';

body {
	font-family:$body-font;
	font-weight:$regular;
	font-size:18px;
	color:$body-font-color;
	}

h1 {
	font-size:40px;
	
	font-weight:$bold;
}



h3 {
	font-size:24px;
	
	font-weight:$bold;
}

h4 {
	font-size:18px;
}

p {
	font-size:16px;
	
	font-weight:$light;
}

/**** Header Section ****/

header {
	background-color:$welcome-color;
	
	


	.navbar-default {
		margin-top:-50px;
		margin-bottom:140px;
		padding-top:60px;
		border:none;
		background-color:$welcome-color;
		min-height:100px;
		
		.navbar-nav{
			color:$body-font-color;
			li {
				padding-top:20px;
				a {
					font-size:16px;
					color:$body-font-color;
				}
			}
			li.active {
				a {
					background-color:$nav-hover-color;
					padding:10px 20px;
					margin-top:5px;
					border-radius:3px;
					color:$body-font-color;
				}
				
			}
		}
	}
	.header-text {
		text-align:center;
		min-height:400px;
		h1 {
			margin-bottom:70px;
		}

		a {
			color:$body-font-color;
			font-color:18px;
			padding:15px 90px;
			border-radius:6px;
			background-color:$welcome-button-color;
			text-align:center;
			text-decoration:none;
			text-transform:uppercase;
		}

	}
}

/**** Service Section ****/

#service{
	background-color:$service-color;
	min-height:750px;
	
	@include flexbox();
	@include flex-justify(center);
	@include flex-align(center);

	.title {
		text-align:center;
		padding-bottom:86px;
		h1 {
			margin-bottom:60px;
		}
	}
	

	.service-wrap {
		text-align:center;
		padding:0 30px;
		h3 {
			margin-bottom:25px;
			text-transform:uppercase;
		}

	.img-wrap {
		height:125px;
		margin-bottom:65px;
		
	}

		
	}
}


/**** Skills ****/

#skills{
	color:$body-font-color2;
	min-height:750px;
	
	@include flexbox();
	@include flex-justify(center);
	@include flex-align(center);

	.title {
		text-align:center;
		padding-bottom:86px;
		h1 {
			margin-bottom:60px;
		}
	}
	

	.service-wrap {
		text-align:center;
		padding:0 30px;
		h3 {
			margin-bottom:25px;
			text-transform:uppercase;
		}

	.img-wrap {
		height:125px;
		margin-bottom:65px;
		
	}

		
	}
}


/**** People Say ****/
#people-say{
	background-color:$people-color;
	min-height:900px;
	
	@include flexbox();
	@include flex-justify(center);
	@include flex-align(center);

	.title {
		text-align:center;
		margin-bottom:86px;
		h1 {
			margin-bottom:50px;
		}
	}


	.people-wrap {
		margin-bottom:150px;

		.people-text {
			padding:0 50px;
			text-align:left;
			width:80%;
			float:left;

			p {
				font-weight:$italic;
				font-style:italic;
			}
			h3 {

				text-transform:uppercase;
			}
			h4 {
				color:$accent-color;
			}
		}

		.people-text:nth-child(1),
		.people-text:nth-child(2) {
			margin-bottom:150px;
		}

		.people-pic {
			background-color:green;
			height:100px;
			width:100px;
			border-radius:50px;			;
			margin-bottom:65px;
			float:left;
			

			img {
				width:100%;
				height:100%;
			}
		}
	}
}

/**** Team Say ****/
#team{
	color:$body-font-color2;
	min-height:910px;
	
	@include flexbox();
	@include flex-justify(center);
	@include flex-align(center);

	.title {
		text-align:center;
		margin-bottom:86px;
		h1 {
			margin-bottom:50px;
		}
	}


	.team-wrap {
		margin-bottom:150px;

		.team-text {
			text-align:center;

			#place {
				color:$accent-color2;
			}

			h3 {

				text-transform:uppercase;
			}
		
		}

		

		.team-pic {
			background-color:green;
			height:200px;
			width:200px;
			border-radius:100px;	
			margin:0 auto;
			margin-bottom:40px;
			
			img {
				width:100%;
				height:100%;
			}
		}
	}
}

/**** Portfolio Section ****/
#portfolio{
	color:$body-font-color2;
	background-color:$portfolio-color;
	min-height:1428px;
	
	@include flexbox();
	@include flex-justify(center);
	@include flex-align(center);

	.title {
		text-align:center;
		margin-bottom:86px;
		h1 {
			margin-bottom:50px;
		}
		ul.select {
			list-style:none;
			margin-top:50px;

			li {
				display:inline;
				padding-right:14px;
				a {
					background-color:$portfolio-select-color;
					padding:14px 30px;
					border-radius:6px;
					font-size:18px;
					text-transform:uppercase;
					text-decoration:none;
					color:$body-font-color2;
				}
				a:hover {
					background-color:$portfolio-hover-color;
				}
			}
		}
	}


	.portfolio-wrap {
		margin-bottom:75px;

		.portfolio-text {
			text-align:center;
			margin-top:40px;
			text-transform:uppercase;
		}

		.portfolio-pic {
			
			
			img {
				width:100%;
				
			}
		}
	}
}


/**** Social Media ****/

#social-media {
	background-color:$get-in-touch-color;

	.get-wrapper {
		min-height:110px;
		@include flexbox();
		@include flex-justify(space-around);
		@include flex-align(center);
		flex-flow:row wrap;

		a {
			color:white;
			font-weight:600;
			text-decoration:none;
		}
		a:hover {
			color:$hover-color;
		}
	}
}


